.form-group>div {
  margin-left: 15px;
}

.form-group {
  margin-left: 2px;
}
body {
  background-color: #EEEEEE;
}

.declaration {
  margin-left: 20px;
  padding-top: 10px;
}

.glyphicon-table {
  width: 20px !important;
  vertical-align: middle !important;
  white-space: nowrap;
}

.list-emballage {
  padding-right: 10px;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left: 15px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.has-feedback>.form-control-feedback{
  right: -12px !important
}
